<!DOCTYPE html>
<html lang="en">
<head>
  <title> {% block title %} {% endblock %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0" id="header">
  <h1>Tweeter Feed Priotizer and Summarizer</h1>
  <p>On Live Data!</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('welcome') }}">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('rawTweets') }}">Raw Tweets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('summary') }}">Summary</a>
      </li>    
    </ul>
  </div>  
</nav>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>{% block leftHead %} {% endblock %}</h2>
      <h5>{% block leftDescription %} {% endblock %}</h5>

      {% block leftContent %}
      {% endblock %}
      
      <!--<hr class="d-sm-none">-->
    </div>
    <div class="col-sm-4">
      <h2>{% block rightHead %} {% endblock %}</h2>
      <h5>{% block rightDescription %} {% endblock %}</h5>


      <div id="accordion">
	{% block rightContent %}
	{% endblock %}
      </div>

      <br>
      
      <div>
	<h2>Next: {% block nextStage %} {% endblock %}</h2>
	<button class="btn btn-primary btn-large" onclick="location.href='{% block nextStageURL %}{% endblock %}'">Proceed</button>
      </div>
      
    </div>
  </div>
</div>

<br>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h5>Created By Mostafa Touny</h5>
</div>


{% block script %}
{% endblock %}

{% block modals %}
{% endblock %}

</body>
</html>
