{% from 'macros.html' import card as card %}
{% from 'macros.html' import modal as modal %}

{% extends 'base.html' %}

{% block title %} Data Preprocessing {% endblock %}

{% block leftHead %} Raw Tweets {% endblock %}
{% block leftDescription %} raw tweets desc {% endblock %}

{% block leftContent %}
{% if list_2d %}
<table class="table table-dark table-hover text-center">
	<thead>
	  <tr>
	    {% for ele in columnsNames %}
	    <th> {{ ele }} </th>
	    {% endfor %}
	  </tr>
	</thead>
	<tbody>
	  {% for row in list_2d %}
	  {% set outer_loop = loop %}
	  <tr>
	    {% for ele in row %}
	    <td> {{ ele }} </td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}


{% block rightHead %} Target Data {% endblock %}
{% block rightDescription %} target data descr {% endblock %}

{% block rightContent %}

{% call card('One', 'Tweets User Interacted') %}
<form method="post" id="tweetsInteracted">
	<label for="userName" class="mr-sm-2">Screen Name:</label>
	<input type="text" class="form-control mb-2 mr-sm-2" name="userName">
</form> 
{% endcall %}

{% call card('Two', 'Global Search') %}
<form method="post" id="globalSearch">
	<label for="entity" class="mr-sm-2">Entity:</label>
	<input type="text" class="form-control mb-2 mr-sm-2" name="entity">
</form> 
{% endcall %}

{% endblock %}


{% block nextStage %} Result {% endblock %}
{% block nextStageURL %} {{ url_for('summary') }} {% endblock %}    

{% block script %}
{% endblock %}
