{% from 'macros.html' import card as card %}

{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block leftHead %} Welcome {% endblock %}
{% block leftDescription %} Hope you enjoy it {% endblock %}

{% block leftContent %}
Through our app you could do bla bla
{% endblock %}

{% block rightHead %} Personalization Source {% endblock %}
{% block rightDescription %}  {% endblock %}

{% block rightContent %}

{% call card('One', 'User Tweets') %}
<form method="post" id="userTweets">
	<label for="userName" class="mr-sm-2">Screen Name:</label>
	<input type="text" class="form-control mb-2 mr-sm-2" name="userName">
</form> 
{% endcall %}

{% call card('Two', 'Tweets User Interacted') %}
<form method="post" id="tweetsInteracted">
	<label for="userName" class="mr-sm-2">Screen Name:</label>
	<input type="text" class="form-control mb-2 mr-sm-2" name="userName">
</form> 
{% endcall %}

{% call card('Three', 'None') %}
a button here
{% endcall %}


{% endblock %}

{% block nextStage %}  {% endblock %}
{% block nextStageURL %} {{ url_for('rawTweets') }} {% endblock %}    

{% block script %}
{% endblock %}
